@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import "variables";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}
main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: $bg-clr;
}
.wrapper {
    max-width: 20.625em;
    background: $card-bg-clr;
    border-radius: 10px;
    overflow: hidden;
    padding: 1.25em;
    > div {
        border-radius: 7px;
        overflow: hidden;
        position: relative;
        /* width: 100%; */
    }
    hr {
        border: thin solid hsl(215, 32%, 27%);
        border-bottom: none;
    }
}
.art-img {
    max-width: 100%;
    display: block;
}
.cover-bg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    background: hsl(178, 100%, 50%, 0.5);
    display: none;
    > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.art-name {
    font-size: 1.375em;
    font-weight: 600;
    color: white;
    margin: 1.5625em 0 0.9375em 0;
}
.preview {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    line-height: 30px;
    font-size: 1.125em;
}
.status {
    display: flex;
    justify-content: space-between;
    margin: 0.9375em 0 0.625em 0;
}
.price {
    color: hsl(178, 100%, 50%);
    > img {
        margin-right: 0.3125em;
    }
}
.time {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    > img {
        margin-right: 0.3125em;
    }
}
